/* Style pour les titres de la page */
h2, h4 {
   color: #303F9F;
   font-family: Arial, sans-serif;
   text-align: center;
 }

 body{

 }
 
 
 .agence h4{
     color: #303F9F;
   font-family: Arial, sans-serif;
   text-align: center;
 
 }
 
 /* Style pour les conteneurs principaux */
 .agence {
   background-color: #F5F5F5;
   margin: 20px;
   padding: 10px;
   border-radius: 5px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }
 
 .agence h2 {
   text-align: center;
   flex-basis: 100%;
   color:  #FFA500;;
 }

 h1{
   text-align: center;
   flex-basis: 100%;
   color: #d40075;
   padding : 20px;
   font-family: Arial, sans-serif;

 }
 
 
 /* Style pour les séjours */
 .sejour {
 margin: 10px;
   width: 45%;
   border: 2px solid #FFFFFF;
   padding: 10px;
   padding-left: 20px;
   padding-right: 20px ;
   line-height: 1.5;
 
 }
 
 /* Style pour les noms des clients */
 .nom {
   color: #F44336;
 }
 
 /* Style pour les notes */
 .note {
   color: #4CAF50;
   font-weight: bold;
 }
 
 /* Style pour les commentaires */
 .commentaire {
   color: #757575;
   font-style: italic;
 }
 .client {
   margin-bottom: 10px;
   padding-bottom: 10px;
   border-bottom: 1px solid #ccc;
 }
 
 .client:last-child {
   margin-bottom: 0;
   padding-bottom: 0;
   border-bottom: none;
 }
 
 .client p {
   margin: 0;
   padding: 0;
   line-height: 1.4;
 }
 
 .client + .client {
   margin-top: 20px;
 }
 
 .global {
   line-height: 0.9;
 }
 