body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f2f2f2;
  padding: 20px;
}

.body {
  display: flex;
  /* Ajout de cette ligne pour afficher les agences en ligne */
  flex-wrap: wrap;
  /* Ajout de cette ligne pour permettre le retour à la ligne des agences */

}

h1 {
  color: #d40075;
  font-size: 2em;
  margin: 2 auto;
  text-align: center;

}

.agency {
  margin-right: 20px;
  /* Ajout de cette ligne pour ajouter de l'espace entre les agences */
  margin-bottom: 30px;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  flex-basis: calc(33.33% - 20px);
  /* Ajout de cette ligne pour définir la largeur de chaque agence */
  box-sizing: border-box;
  /* Ajout de cette ligne pour inclure la bordure et le padding dans la largeur de l'élément */
}

.agency h2 {
  text-align: center;
  color: #FFA500;
  /* couleur orange */
  margin-top: 0;
}

.agency p {
  margin: 0;
}

.agency ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.agency li {
  margin-bottom: 10px;
}

.agency li:first-child {
  font-weight: bold;
}

.agency li span {
  font-weight: bold;
  color: #009688;
}

.agency .clients {
  margin-top: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
}

.agency .clients h3 {
  margin-top: 0;
}

.agency .clients ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.agency .clients li {
  margin-bottom: 5px;
}

.agency .clients li span {
  font-weight: bold;
  color: #005FAF;
}